$themeColor: #002FA5;
$auxiliaryColor: #2151EC;
$lightColor:#4D74F0;
$tabColor:#1A81FF;

//主题色阴影
$mainColorShadow:rgba(0, 47, 165, 0.25);

$darkTitle: #333;
$fontColor33:#333;
$fontColor66:#666;
$fontColor99:#999;
$fontColor80:#808080;
$fontColor00:#000;
//常用黑色字体
$mainFontColor14:#141414;
$seconFontColor:#303133;
$viceFontColor:#909191;
$fontColorPrice:#FE6E32;

//常用黑色字体
$mainFontColor:#606166;
$seconFontColor:#303133;
$viceFontColor:#909199;
$fontColor46E: #46464E;
$viceFontColor99:#909199;
//---------------------标签---//
//主色标签
$labelPrimaryColor:#002FA5;
$labelPrimaryLightColor:#EFF1FF;
//成功标签
$labelSucessColor:#27C281;
$labelSucessLightColor:#E9FFF6;

//未完成 错误标签
$labelErrorColor:#E9FFF6;
$lobelErrorLightColor:#FFF2E9;

//字体大小
$mainFontSize:32rpx;
$fontSize36:36rpx;
$fontSize30:30rpx;
$fontSize46:46rpx;
$largeTitleSize:48rpx;
$middleFontSize:28rpx;
$fontSize26:26rpx;
$fontSize22:22rpx;
$smallFontSize:24rpx;

//成功系列
$primaryColor:#27C281;
$lightPrimaryColor:#61E9B0;
$labelPrimaryColor:#E9FFF6;
//警告系列
$warningColor:#F0AF23;
$linghtWarningColor:#FFD86F;
$labelLinghtWarning:#FFFBF1;

//错误系列
$errorColor:#EA3B3B;
$lightErrorColor:#F76D6D;
$labelErrorColor:#FEF0F0;

//字体大小
$mainFontSize:32rpx;
$largeTitleSize:48rpx;
$middleAddFontSize:30rpx;
$middleFontSize:28rpx;
$smallFontSize:24rpx;
$smiddleFontSize:26rpx;
$vsmallFontSize:20rpx;

//圆角大小
$maxBorderRadius:30rpx;
$mainBorderRadius:20rpx;
$middleBorderRadius:16rpx;
$smallBorderRadius:12rpx;
$miniBorderRadius:10rpx;

//线条颜色
$borderColor:#f4f4f5;
$borderColorEE:#eeeeee;

// 异常文字颜色
$errorFontColor:#FF5D35;
// 成功文字颜色
$successFontColor:#10BF78;
$successNewFontColor:#10C57D;

// 成功文字背景颜色
$successNewFontColorBg:#D5FFEE;
$mainFontColorBg:#E1EEFF;
// 背景颜色
$bgColor:#fff;
//分割线颜色
$divider:#F2F2F2;