$mainColorShadow:rgba(0, 47, 165, 0.25);
//主题色
$themeColor: #ff5d35;
$auxiliaryColor: #FF9A52;
$themeBg: #FFFFFF;
$darkTitle: #333;
$fontColor33:#333;
$fontColor66:#666;
$fontColor99:#999;
$fontColor80:#808080;
$fontColor00:#000;
$fontColorPrice:#FE6E32;

//常用黑色字体
$mainFontColor:#606266;
$mainFontColor14:#141414;
$seconFontColor:#303133;

// 异常文字颜色
$errorFontColor:#FF5D35;

//字体大小
$mainFontSize:32rpx;
$largeTitleSize:48rpx;
$middleAddFontSize:30rpx;
$middleFontSize:28rpx;
$smallFontSize:24rpx;
$smiddleFontSize:26rpx;
$vsmallFontSize:20rpx;

//圆角大小
$maxBorderRadius:30rpx;
$mainBorderRadius:20rpx;
$middleBorderRadius:16rpx;
$smallBorderRadius:12rpx;
$miniBorderRadius:10rpx;

//线条颜色
$borderColor:#f4f4f5;
$borderColorEE:#eeeeee;